* {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Roboto', sans-serif;
}
table, td {
    border: 0.5px solid lightgrey;
}
td {
    width: 303px;
    height: 20px;
    text-align: center;
}
td:first-of-type {
    width: 100px;
}

.bold {
    font-weight: bold;
}
.border-bold {
    border: 1px solid black;
}
.right {
    text-align: right;
}
.small {
    font-size: 12px;
}
.head {
    height: 40px;
}
